@import "./Form/index";
@import "./Register/index";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #303030;
  color: white;
  min-height: 100vh;
}

* {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -1.6px;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1.5px;
}