{% extends 'layout_main.html' %}
{% block content %}
<div class="account-deletion" align="center">
    <h1>Account Deletion</h1>
    <p>Warning! think twice before doing this as there is no go back.</p>
    <hr>
    <div class="padding-1">
        <button class="cb-btn red-btn">Delete account</button>
    </div>
</div>
{% endblock content %}