{% extends 'layout_main.html' %}
{% block content %}
<h1 class="padding-5" align="center">All problem categories</h1>
<div class="margin-1">
    {% for x in range(10) %}
        <div class="text-container flex-container space-between flex-align-center padding-1 margin-1">
                <h1 class="problem-category-name">
                    <i class="fa fa-list-alt"></i> <a href="/Category {{ x+1 }}/problems">Category {{ x+1 }}</a>
                </h1>
                <p class="pc-user-progress">
                    You solved 102 out of 102 problems
                </p>
        </div>
    {% endfor %}
    <div class="margin-1" align="center">
        <button class="cb-btn">Prev</button>
        <button class="cb-btn">1</button>
        <button class="cb-btn">Next</button>
    </div>
</div>
{% endblock content %}