{% extends 'layout_main.html' %}
{% block content %}
<div class='flex-container align-items-center justify-content-center height-100'>
    <div class="center-flex" align="center">
        <h1>Coming Soon!</h1>
        <h3>We are working on that page</h3>
    </div>
</div>
{% endblock content %}