<h1 class="logo-text flex-container align-items-center">
    <img class="logo-image-mini" src="/images/logo-min.png">
    CODEBUDDY
</h1>
<div>
    <a class="margin-5px" href="#">About CodeBuddy</a>
    <a class="margin-5px" href="#">Branding</a>
    <a class="margin-5px" href="#">Terms and Conditions</a>
    <a class="margin-5px" href="#">mdgaziur.me</a>
</div>