<html>
    <head>
        <title>Log In</title>
        <link rel="stylesheet" href="/stylesheets/codebuddy.css">
        <link rel="shortcut icon" type="image/x-icon" href="images/logo-min.png">
    </head>
    <body>
        <form class="login-register" action="" method="POST">
            <% if( typeof Failed != 'undefined' ) {%>
                <span class="failed-flash" align="center"><%= Failed %></span>
            <% } %> 
            <div align="center">
                <img class="login-register-logo" src="images/logo-big.png" alt="codebuddy-logo" onclick="window.location.href='/'">
                <h1>Login</h1>
            </div>
            <div style="padding: 40px;display: grid;">
                <input class="lg-field" type="email" name="email" placeholder="Email Address" required>
                <input class="lg-field" type="password" name="password" placeholder="Password" required>
                <button class="lg-button">Login</button>
                <div class="flex-container flex-align-center space-between">
                    <div class="flex-container flex-align-center">
                        <div class="toggle-container" style="padding: 10px;">
                            <input class="toggle" name="remember" type="checkbox" id="remember">
                            <label class="toggle-circle" for="remember" id="remember-label"></label>
                            <label class="toggle-background" for="remember"></label>
                        </div>
                        Remember Me
                    </div>
                    <div align="right" style="padding: 10px;">
                        <a href="/password_reset">Forgot password?</a>
                    </div>
                </div>
            </div>
            <div style="height: 100px;"></div>
            <div class="lgf-bottom-text" align="center">
                Don't have an account? <a href="/register">Register now!</a>
            </div>
        </form>
    </body>
</html>