{% extends 'layout_main.html' %}
{% block content %}
<div align="center">
    <h1>Password Settings</h1>
    <p>Change password by verification on email using this page</p>
    <hr/>
</div>
<div align="center">
    <div class="padding-5">
        <!--
            Well there is no form. I just called this "password-reset-form".
            The "password-reset" thing is just handled by the javascript and
            backend part. No form is used. You thought there is a form. IDIOT!
        -->
        <div class="flex-container flex-align-center">
            <label class="password-field-label">Old Password:</label><input class="text-input flex-1 extra-dark-bg" type="password" id="old-password" type="text">
        </div>
        <div class="flex-container flex-align-center">
            <label class="password-field-label">New Password:</label><input class="text-input flex-1 extra-dark-bg" type="password" id="new-password" type="text">
        </div>
        <div class="flex-container flex-align-center"> <!-- To piss you off! Muhahah.. Just kidding. It's to make sure that there is no typing mistake. -->
            <label class="password-field-label">Confirm Password:</label><input class="text-input flex-1 extra-dark-bg" type="password" id="confirm-password" type="text">
        </div>
        <button class="cb-btn">Change Password</button>
    </div>
</div>
{% endblock content %}