{% extends 'layout_main.html' %}
{% block content %}
<div align="center">
    <h1>
        Profile Settings
    </h1>
    <p>These information will be used to generate your CodeBuddy profile</p>
    <hr/>
    <form class="padding-5" action="/api/update_settings" method="POST">
        <input type="file" accept="image/*" name="pfi" id="pfi" style="display: none;">
        <div class="vertical-flex justify-content-center">
            <img src="https://dummyimage.com/200x200/000/fff" alt="previous-image">
            <button class="cb-btn" type="button">Upload Profile Picture</button>
        </div>
        <div class="flex-container flex-align-center padding-1">
            <label>Name: </label>
            <input class="text-input flex-1 extra-dark-bg" name="user-name" type="text" value="MD Gaziur Rahman Noor">
        </div>
        <h2 align="center">mdgaziur001</h2>
        <div class="user-email-changer-container">
            <p class="email">Email: mdgaziurrahmannoor@gmail.com<button class="cb-btn" type="button">Change Email</button></p>
        </div>
        <div class="flex-container flex-align-center padding-1">
            <label class="input-label">Website:</label>
            <input class="text-input flex-1 extra-dark-bg" name="website" type="text">
        </div>
        <div class="flex-container flex-align-center padding-1">
            <label class="input-label">Company:</label>
            <input class="text-input flex-1 extra-dark-bg" type="text" name="company">
        </div>
        <div class="flex-container flex-align-center padding-1">
            <label class="input-label">Institution:</label>
            <input class="text-input flex-1 extra-dark-bg" type="text" name="institution">
        </div>
        <div>
            <button class="save-changes" type="submit">Save Changes</button>
        </div>
    </form>
</div>
{% endblock content %}