.problem
{
    width: auto;
    margin: 1rem;
    padding: .5rem;
    background: #272727;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}
.problem-tags
{
    padding: 1rem;
}
.problem-tag
{
    background: #505050;
    padding: 1rem;
    color: white;
    margin: .1rem;
    border-radius: 2px;
}
.problem-reaction
{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.problem-reaction-button
{
    background: none;
    border: none;
    opacity: .3;
    cursor: pointer;
    transition: 100ms;
    z-index: 0;
}
.problem-reaction-button:active
{
    opacity: 1;
}
.problem-reaction-bar
{
    display: inline-block;
    height: 5px;
    width: 10vw;
    background: #525252;
    display: flex;
}
.problem-reaction-bar-child-1
{
    height: 100%;
    position: relative;
    background: rgb(64, 172, 64);
    cursor: pointer;
}
.problem-reaction-bar-child-1::before
{
    content: 'Likes';
    display: inline-block;
    position: absolute;
    bottom: 10px;
    color: white;
    background: #00020f;
    padding: 5px;
    border-radius: 2.5px;
    opacity: 0;
    transition: 100ms;
}
.problem-reaction-bar-child-1:hover::before
{
    opacity: 1;
}
.problem-reaction-bar-child-2
{
    height: 100%;
    position: relative;
    background: rgb(240, 42, 42);
    cursor: pointer;
}
.problem-reaction-bar-child-2::before
{
    content: 'Dislikes';
    display: inline-block;
    position: absolute;
    bottom: 10px;
    color: white;
    background: #00020f;
    padding: 5px;
    border-radius: 2.5px;
    opacity: 0;
    transition: 100ms;
}
.problem-reaction-bar-child-2:hover::before
{
    opacity: 1;
}
