@import "../Colors/header";

div.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: $header-background;
}
div.header-secondary {
  display: flex;
}
div.header-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms;
}
div.header-main-content {
  display: flex;
  align-items: center;
}
div.breadcrumb {
  z-index: 3;
  display: none;
  margin: 1rem;
  min-height: 15px;
  position: relative;
  height: 10px;
  width: 25px;
  div {
    height: 3px;
    width: 25px;
    background: $header-breadcrumb-color;
    transition: 200ms;
    position: absolute;
    top: 0;
    left: 0;
    &:nth-child(2) {
      top: 6px;
    }
    &:nth-child(3) {
      top: 12px;
    }
  }
  &.active {
    div {
      &:nth-child(1) {
        top: 6px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        left: 10px;
        opacity: 0;
      }
      &:nth-child(3) {
        top: 6px;
        transform: rotate(-45deg);
      }
    }
  }
}
div.header-searchbar {
  display: flex;
  overflow: hidden;
  justify-content: center;
  border-radius: 5px;
  margin: 0 1rem 0;
  input {
    width: 150px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    background: $header-searchbar-input-bg;
    border: none;
    color: $header-searchbar-input-text-color;
  }
  svg {
    fill: $header-searchbar-icon-fill;
  }
  button {
    background: $header-searchbar-icon-bg;
    margin: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    &:active {
      background: $header-searchbar-icon-active-bg;
    }
  }
}
div.header-account-dropdown {
  position: relative;
  z-index: 1;
  &:hover ul {
    opacity: 1;
    top: 60px;
    visibility: visible;
  }
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  ul {
    visibility: hidden;
    opacity: 0;
    background: $header-dropdown-background;
    list-style: none;
    position: absolute;
    right: 10px;
    top: 50px;
    border-radius: 5px;
    transition: 500ms;
    margin: 0;
    padding: 0;
    &::before {
      top: -20px;
      right: 5px;
      position: absolute;
      display: inline-block;
      border: 10px solid transparent;
      border-bottom-color: $header-dropdown-background;
      content: "";
    }
    li {
      padding: 0.7rem 2rem 0.7rem 2rem;
      cursor: pointer;
      &:hover {
        background: $header-dropdown-link-hover-bg;
      }
      &:active {
        background: $header-dropdown-link-active-bg;
      }
      a {
        color: $header-dropdown-link-color;
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .breadcrumb {
    display: block !important;
  }
  .header-contents {
    z-index: 2;
    position: fixed;
    left: -100vw;
    top: 0;
    bottom: 0;
    display: grid;
    justify-content: flex-end !important;
    padding-top: 4rem;
    flex-direction: column-reverse;
    background: $header-mobile-menu-bg;
    padding-right: 15px;
    padding-left: 15px;
  }
  .header-searchbar {
    margin: 0 !important;
  }
  .header-contents.active {
    left: 0;
  }
  .header-buttons {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    button {
      width: 100%;
      text-align: left;
    }
  }
}
