.sidebar {
  height: 100%;
  width: 6rem;
  background: #3a3a3a;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  transition: 250ms;
  z-index: 1;
}
.sidebar-logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 0.3rem;
}

.sidebar-logo {
  height: 90px;
  width: 90px;
  position: relative;
}

.sidebar-logo-text {
  margin-left: 0.09rem;
  display: inline-block;
  font-weight: 800;
  letter-spacing: -2px;
}

.sidebar-buttons-container {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebar-button {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  transition: 250ms;
  padding: 1rem 0rem 1rem 4rem;
  filter: opacity(0.5);
  cursor: pointer;
  user-select: none;
  transition: 500ms;
}

.sidebar-button:nth-child(8) {
  margin-top: auto;
}

.sidebar-button-text {
  opacity: 0;
  position: absolute;
  margin-left: 3rem;
  color: white;
  font-size: 1rem;
  transition: 250ms;
  width: max-content;
}

@media only screen and (min-width: 600px) {
  .sidebar:hover {
    width: 20rem;
  }

  .sidebar:hover .sidebar-button-text {
    opacity: 1;
  }

  .sidebar-button:hover {
    filter: opacity(1);
  }

  .body-container {
    margin-left: 6rem;
  }

  .sidebar:hover .sidebar-button {
    justify-content: unset;
  }
}

@media only screen and (max-width: 600px) {
  .body-container {
    margin-left: 0;
    margin-bottom: 4rem;
  }

  .container {
    margin: 0rem !important;
  }
  .sidebar {
    height: 4rem;
    width: 100vw;
    flex-direction: row;
    bottom: 0;
    top: unset;
    overflow-x: scroll;
  }

  .h-container {
    flex-direction: column;
    align-items: center;
  }
  .sidebar-buttons-container {
    flex-direction: row;
  }
  .sidebar-logo-container {
    display: none;
  }
  .sidebar-button {
    padding: 2rem !important;
    justify-content: center;
    align-items: center;
  }
  .sidebar-button:nth-child(8) {
    margin-top: unset;
  }
}
