.dropdown-el {
    margin: 1rem;
    .dropdown-title {
        background: #272727;
        border-radius: 15px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        .dropdown-icon {
            pointer-events: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            padding: 5px;
            cursor: pointer;
            transition: transform 500ms;
        }

        &:hover .dropdown-icon {
            background-color: rgba(128, 128, 128, 0.466);
        }
        &:active .dropdown-icon {
            background-color: rgba(56, 56, 56, 0.753);
        }
    }
    .dropdown-title.visible {
        .dropdown-icon {
            transform: rotate(180deg);
        }
    }
    .dropdown-body {
        transform: translateY(-10%);
        opacity: 0;
        transition: 500ms;
        pointer-events: none;
        height: 0;
        overflow: hidden;
    }
    .dropdown-body.visible {
        padding: 1rem;
        margin-top: 1rem;
        pointer-events: unset;
        transform: translateY(0%);
        opacity: 1;
        height: auto;
        // animation: slideDown 500ms 1 linear;
        // animation-fill-mode: forwards;
        // -webkit-animation-fill-mode: forwards;

        // // https://stackoverflow.com/questions/19754352/css-key-frames-animating-dynamic-height
        // @keyframes slideDown {
        //     from {
        //         transform: translateY(-100%);
        //         opacity: 0;
        //     }
        //     to {
        //         transform: translateY(0);
        //         opacity: 1;
        //     }
        // }
    }
}
