<% layout('template_drafts') %>
<div class="flex-container">
    <div class="center-flex flex-1">
        <h1>CodeBuddy Drafts</h1>
        <button class="cb-btn">Create Contest</button>
        <button class="cb-btn" onclick="window.location.href='/drafts/new_problem'">Create Problem</button>
        <div class="text-container padding-1">
            <div class="max-height-500 overflow-y-scroll">
            </div>
        </div>
    </div>
</div>