{% extends 'layout_main.html' %}
{% block content %}
<div class="flex-container">
    <div class="sidebar flex-1">
        <div class="sidebar-box">
            <h1>Time</h1>
            <div>
                <p>Starts at 6:30pm 20/02/2021 UTC</p>
                <p>Ends at 9:30pm 20/02/2021 UTC</p>
            </div>
        </div>
        <div class="sidebar-box">
            <h1>Problem Setters</h1>
            <div>
                <a href="#">mdgaziur001</a>
            </div>
        </div>
        <div class="sidebar-box">
            <h1>Contest Judging Panel</h1>
            <div>
                <a href="#">mdgaziur001</a>
            </div>
        </div>
        <div class="sidebar-box">
            <h1>Contest Rules</h1>
            <p class="padding-1">
                1. Never copy code from other people.<br/>
                2. Be fair and honest.
            </p>
            <div class="sidebar-content">
                <p>If you don't follow these rules you'll be kicked out of the contest</p>
            </div>
        </div>
    </div>
    <div class="center-flex flex-1">
        <div align="center">
            <img class="big-image" src="https://dummyimage.com/900x450/000/fff">
        </div>
        <h1 class="margin-1">
            Codebuddy Welcome Contest
        </h1>
        <p class="text-container padding-1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias culpa, debitis distinctio dolorum ipsa,
            numquam officia pariatur possimus quia saepe totam, voluptatum. A adipisci commodi consequatur facere,
            mollitia quis voluptate!
        </p>
        <div class="padding-1">
            <button class="cb-btn">
                Statistics
            </button>
            <button class="cb-btn">
                Leaderboard
            </button>
            <button class="cb-btn">
                View Problems
            </button>
            <button class="cb-btn">
                Access/Signup
            </button>
        </div>
    </div>
</div>
<!-- Just for the name "Center flex" to make sense -->
<div class="flex-container">
    <div class="center-flex flex-1">
        <h1>Discussions</h1>
    </div>
</div>
{% endblock content %}