{% extends 'layout_main.html' %}
{% block content %}
<h1 align="center" style="padding: 2%;">
    Contest Organizer Dashboard
</h1>
<div class="flex-container">
    <div class="flex-1 sidebar">
        <div class="sidebar-box vertical-flex">
            <h1 align="center">Clarifications</h1>
            <div class="flex-1 padding-2-0-2-0 max-height-500 overflow-y-scroll">
                <h3 class="display-none" align="center">No new clarifications</h3>
                {% for x in range(5) %}
                    <div class="text-container padding-5 margin-tb-1">
                        <h4>
                            Question: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolores enim, et explicabo iusto minus molestias.
                        </h4>
                        <div class="tags-container">
                            <span class="tag">Problem A - Do it now!</span>
                        </div>
                        <div class="width-100-btn">
                            <button class="cb-btn btn-dark">Give Answer</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="width-100-btn">
                <button class="cb-btn btn-dark">View All Clarifications</button>
            </div>
        </div>
        <div class="sidebar-box vertical-flex">
            <h1 align="center">Announcements</h1>
            <div class="flex-1 padding-2-0-2-0 max-height-500 overflow-y-scroll">
                <h3 class="display-none" align="center">No Announcements</h3>
                {% for x in range(2) %}
                    <div class="text-container padding-5 margin-tb-1">
                        <h4>
                            Problem statement has been updated.
                        </h4>
                        <div class="tags-container">
                            <span class="tag">Problem A - Do it now!</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="width-100-btn">
                <button class="cb-btn btn-dark">Make an announcement</button>
            </div>
        </div>
    </div>
    <div class="flex-1 center-flex height-max-content">
        <h1>National High School Programming Contest 2021 | Prothom Alo | NHSPC 2021 | Not Ardent Programmers | CodeBuddy</h1>
        <button class="cb-btn"><i class="icofont-settings-alt"></i></button>
        <button class="cb-btn position-relative"><i class="icofont-bell-alt"></i><span class="tr-number-round">12</span></button>
        <div class="flex-container flex-justify-center margin-tb-1" align="center">
           <div class="text-container padding-1 margin-1 flex-1">
               <h2>Total Participants</h2>
               <h1>40</h1>
               <div class="width-100-btn">
                   <button class="cb-btn btn-dark">See leaderboard</button>
               </div>
           </div>
           <div class="text-container padding-1 margin-1 flex-1">
               <h2>Total Submissions</h2>
               <h1>1234</h1>
               <div class="width-100-btn">
                   <button class="cb-btn btn-dark">See submissions</button>
               </div>
           </div>
           <div class="text-container padding-1 margin-1 flex-1">
               <h2>Total Successful Submission</h2>
               <h1>502</h1>
               <div class="width-100-btn">
                   <button class="cb-btn btn-dark">See Accepted submissions</button>
               </div>
           </div>
        </div>
        <h1 align="center">Contest Statistics</h1>
        <div align="center">
            <div class="chart-container">
                <canvas id="contest-statistics-chart" height="500px"></canvas>
            </div>
        </div>
    </div>
</div>
<script>
    var ctx = document.getElementById("contest-statistics-chart");
var myChart = new Chart(ctx, {
	type: 'bar',
	data: {
		labels: ["Problem - A","Problem - B", "Problem - C", "Problem - D", "Problem - E"],
		datasets: [{
			label: 'Accepted',
			backgroundColor: "#45c490",
			data: [122, 359, 200, 90,345],
		}, {
			label: 'Not Accepted',
			backgroundColor: "#ff4c4c",
			data: [56, 259, 555, 112, 556],
		}],
	},
options: {
    tooltips: {
      displayColors: true,
      callbacks:{
        mode: 'x',
      },
    },
    scales: {
      xAxes: [{
        stacked: true,
        gridLines: {
          display: false,
        }
      }],
      yAxes: [{
        maxBarThickness: 100,
        stacked: true,
        ticks: {
          beginAtZero: true,
        },
        type: 'linear',
      }]
    },
		responsive: true,
		maintainAspectRatio: false,
		legend: { position: 'bottom' },
	}
});
</script>
{% endblock content %}