{% extends 'contest_layout.html' %}
{% block content %}
<div class="user-submissions">
    <h1>Your submissions</h1>
    <table align="center" style="width: 100%;">
        <tr align="center">
            <td><p>#</p></td>
            <td><p>Author</p></td>
            <td><p>Problem</p></td>
            <td><p>Points</p></td>
            <td><p>Verdict</p></td>
            <td><p>Language</p></td>
            <td><p>Time</p></td>
            <td><p>Memory</p></td>
        </tr>
        {% for x in range(1, 11) %}
            <tr align="center">
                <td><p><a href="#">S8B8KO1{{ x }}</a></p></td>
                <td><a href="#">mdgaziur00{{ x }}</a></td>
                <td><a href="#">Do it now!</a></td>
                <td><p>110{{ x-1 }}</p></td>
                <td><p class="accepted-text">Accepted</p></td>
                <td><p>Python</p></td>
                <td><p>0s</p></td>
                <td><p>37MB</p></td>
            </tr>
        {% endfor %}
    </table>
    <div class="padding-1" align="center">
        <button class="cb-btn">1</button>
    </div>
</div>
{% endblock content %}