<% layout('layout_main') %>
<div class="flex-container justify-content-center">
    <div class="form-container flex-1 invert">
        <h1>Create A Problem</h1>
        <form action="" method="POST">
            <% if( typeof errors ) { %>
                <% errors.forEach(Failed => { %>
                    <span class="failed-flash" style="background: #00FFFF; margin-bottom: 5px" align="center"><%= Failed %></span> 
                <% }); %>
            <% } %>
            <div class="flex-container flex-align-center">
                Problem Type
                <select name="problem_type" onchange="console.log(this.value);this.value === 'Function Based'? func_name.style.display = 'flex' : func_name.style.display = 'none'">
                    <option>Function Based</option>
                    <option>Standard</option>
                </select>
            </div>
            <div class="flex-container flex-align-center" id="func_name" style="display: none">
                Function Name:
                <input class="text-input flex-1" type="text" name="function_name">
            </div>
            <div class="flex-container flex-align-center">
                Problem Name:
                <input class="text-input flex-1" type="text" name="problem_name">
            </div>
            <div class="flex-container flex-align-center">
                Problem Slug
                <input class="text-input flex-1" type="text" name="problem_slug">
            </div>
            <div class="flex-container flex-align-center">
                Memory Limit
                <input class="text-input flex-1" type="text" name="memory_limit" placeholder="max.: 5000MB unit: Megabyte">
            </div>
            <div class="flex-container flex-align-center">
                CPU Limit
                <input class="text-input flex-1" type="text" name="cpu_limit" placeholder="max.: 300s unit: Milliseconds">
            </div>
            <style>
                #editorjs{
                    background: white;
                }
                #editorjs *{
                    color: black;
                    fill: black;
                }
                .cdx-notifies * {
                    color: black;
                }
            </style>
            <h2>Problem Description</h2>
            <div id="editorjs" name="editor1" data-sample-preservewhitespace></div>
            <div class="vertical-flex">
                <div class="text-container padding-1 margin-1">
                    <h3>Select zip file containing the test cases. Sample testcases will look like this "sample1.txt". And other will look like this "1.txt, 2.txt"</h3>
                    <input type="file" accept=".txt" name="test_cases">
                </div>
            </div>
            <input style="display: none;" id="desc-json" name="desc_json">
            <div>
                <button type="button" class="cb-btn" id="create-problem">Create</button>
                Your problem will be reviewed before it becomes available for solving.
                <button id="hidden-submit" style="display: none;"></button>
            </div>
        </form>
    </div>
</div>
<script src="/scripts/cb.js"></script>
<script>
    initEJ(document.querySelector('#create-problem'), document.querySelector('#desc-json'), document.querySelector("#hidden-submit"));
</script>