<% layout('layout_main') %>
<div align="center">
    <h1>Password Settings</h1>
    <p>Change password by verification on email using this page</p>
    <hr/>
</div>

<div align="center">
    <div class="padding-5">
        <form action="" method="POST">
            <% if( typeof Failed != 'undefined' ) {%>
                <span class="failed-flash" align="center"><%= Failed %></span>
            <% } %>
            <% if( typeof Success != 'undefined' ) {%>
                <span class="success-flash" align="center"><%= Success %></span>
            <% } %>
            <div class="flex-container flex-align-center">
                <label>Old Password:</label><input class="text-input flex-1 extra-dark-bg" name="oldpassword" type="password" id="old-password" type="text">
            </div>
            <div class="flex-container flex-align-center">
                <label>New Password:</label><input class="text-input flex-1 extra-dark-bg" name="password" type="password" id="new-password" type="text">
            </div>
            <div class="flex-container flex-align-center"> <!-- To piss you off! Muhahah.. Just kidding. It's to make sure that there is no typing mistake. -->
                <label>Confirm Password:</label><input class="text-input flex-1 extra-dark-bg" name="confirm_password" type="password" id="confirm-password" type="text">
            </div>
            <button class="cb-btn">Change Password</button>
        </form>
    </div>
</div>