<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="/stylesheets/codebuddy.css">
        <link rel="shortcut icon" type="image/x-icon" href="images/logo-min.png">
    </head>
    <body>
        <form class="login-register" action="" method="POST">
            <div align="center">
                <img class="login-register-logo" src="images/logo-big.png" alt="codebuddy-logo" onclick="window.location.href='/'">
                <h1>Account Recovery</h1>
            </div>
            <div style="padding: 40px; display: grid;">
                <input class="lg-field" type="email" name="email" placeholder="Enter lost account's email address">
                <button class="lg-button">Send Recovery Email</button>
            </div>
            <div style="height: 100px;"></div>
            <div class="lgf-bottom-text" align="center">
                Remembered the password? <a href="/login">Go Back</a>
            </div>
        </form>
    </body>
</html>