<% layout('layout_main') %>
<div class="jumbotron-with-skewed-bottom-and-gradient" align="center">
    <img src="/images/logo-big.png">
    <h1 style="font-family: 'GT Walsheim Pro'">THE FLEXIBLE AND ROBUST ONLINE JUDGE</h1>
</div>
<div style="height: 200px;"></div>
<div class="feature-highlight dark-ui-feature">
    <div class="flex-1">
        <h1>COMES WITH DARK UI</h1>
        <p>CODEBUDDY COMES WITH DARK UI TO CAUSE LESS PROBLEMS WITH YOUR EYES AS THE MORE DARK THE COLOR IS, THE LESS LIGHT IS EMITTED.
            AND THIS ALSO MAKES THE UI LESS DISTRACTIVE.
        </p>
    </div>
    <div class="feature-highlight-image-container flex-1">
        <img class="feature-highlight-image" src="/images/dark-ui-pic.png">
    </div>
</div>
<div style="height: 100px;"></div>
<div class="feature-highlight">
    <div class="feature-highlight-image-container flex-1" style="justify-content: flex-start;">
        <img class="feature-highlight-image" src="/images/contest.png">
    </div>
    <div class="flex-1 padding-1">
        <h1>PARTICIPATE IN EXCITING CONTESTS</h1>
        <p>
            PARTICIPATE IN EXICITING CONTESTS WHERE YOU'LL BE ABLE TO INCREASE TO SKILLS WITH EASE!
        </p>
    </div>
</div>
<div style="height: 100px;"></div>
<div class="feature-highlight">
    <div class="flex-1 padding-1">
        <h1>SOLVE CHALLENGING PROBLEMS</h1>
        <p>
            CODEBUDDY COMES WITH CHALLENGING PROBLEMS WHICH YOU CAN SOLVE TO INCREASE YOUR SKILLS.
            NEW PROBLEMS ARE OFTENLY ADDED.
        </p>
    </div>
    <div class="feature-highlight-image-container flex-1">
        <img class="feature-highlight-image" src="/images/contest.png">
    </div>
</div>
<div style="height: 100px;"></div>
<div class="feature-highlight">
    <div class="feature-highlight-image-container flex-1" style="justify-content: flex-start;">
        <img class="feature-highlight-image" src="/images/supported_languages.png">
    </div>
    <div class="flex-1 padding-1">
        <h1>WE SPEAK 7 LANGUAGES</h1>
        <p>
            YOU CAN SUBMIT SOLUTIONS USING 6 DIFFERENT LANGUAGES ON CODEBUDDY.
        </p>
    </div>
</div>
<div style="height: 100px;"></div>
<div class="feature-highlight">
    <div class="feature-highlight-image-container flex-1">
        <img class="feature-highlight-image" src="/images/dark-ui-pic.png">
    </div>
    <div class="flex-1 padding-1">
        <h1>WHAT ARE YOU WAITING FOR? JOIN CODEBUDDY NOW!</h1>
        <button class="cb-btn">SIGN UP!</button>
    </div>
</div>
<div style="height: 100px;"></div>