$header-background: #1d1d1d;

// dropdown
$header-dropdown-background: #505050;
$header-dropdown-link-color: #fff;
$header-dropdown-link-hover-bg: rgba(0, 0, 0, 0.26);
$header-dropdown-link-active-bg: rgba(0, 0, 0, 0.397);

// searchbar
$header-searchbar-input-bg: rgba(0, 0, 0, 0.404);
$header-searchbar-input-text-color: rgba(255, 255, 255, 0.404);
$header-searchbar-icon-fill: #909090;
$header-searchbar-icon-bg: #444444;
$header-searchbar-icon-active-bg: #44444480;

// breadcrumb
$header-breadcrumb-color: #fff;

// mobile
$header-mobile-menu-bg: #404040;
