@import '../Colors/button';

button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 10px 15px 10px 15px;
    margin: 2.5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
    outline: none;
}

button.primary {
    background: $primary;
    color: $primary-text-color;
    border: $primary-border;
    &:hover {
        background: $primary-hover;
        color: $primary-hover-text-color;
        border: $primary-hover-border;
    }
    &:active {
        background: $primary-active;
        color: $primary-active-text-color;
        border: $primary-active-border;
    }
}

button.positive {
    background: $positive;
    color: $positive-text-color;
    border: $positive-border;
    &:hover {
        background: $positive-hover;
        color: $positive-hover-text-color;
        border: $positive-hover-border;
    }
    &:active {
        background: $positive-active;
        color: $positive-active-text-color;
        border: $positive-active-border;
    }
}

button.negative {
    background: $negative;
    color: $negative-text-color;
    border: $negative-border;
    &:hover {
        background: $negative-hover;
        color: $negative-hover-text-color;
        border: $negative-hover-border;
    }
    &:active {
        background: $negative-active;
        color: $negative-active-text-color;
        border: $negative-active-border;
    }
}

button.disabled {
    background: $disabled;
    color: $disabled-text-color;
    border: $disabled-border;
}

button.header-button {
    color: $header-text-color;
    &:hover {
        color: $header-hover-text-color;
    }
    &:active {
        color: $header-active-text-color;
    }
}