@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./Buttons/index";
@import "./Header/index";

* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #101010;
  color: white;
}
h1 {
  font-size: 4rem;
  letter-spacing: -3.5px;
}
h2 {
  font-size: 3rem;
  letter-spacing: -3px;
}
h3 {
  font-size: 2.5rem;
  letter-spacing: -2.5px;
}
h4 {
  font-size: 2rem;
  letter-spacing: -2px;
}
h5 {
  font-size: 1.5rem;
  letter-spacing: -1.5px;
}
h6 {
  font-size: 1rem;
  letter-spacing: -1px;
}
p {
  font-weight: 500;
  letter-spacing: -1px;
  font-size: 1rem;
}
input {
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 1rem;
  outline: none;
}
