@import './buttons';
@import './fields';
@import './header';
@import './errors';

.form {
  width: 300px;
  max-width: 100%;
  padding: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: #404040;
}